body {
    background-image: linear-gradient(24deg, #250080 0%, #000000 60%);
    background-attachment: fixed;
    font-family: 'Noto Sans';
    color: #ffffff;
    margin:0px;
    overflow: hidden;
}

button {
    font-family: 'Segoe UI';
    color: #ffffff;
    background-color: #a00080;
}

input {
    font-family: 'Segoe UI';
    color: #ffffff;
}

input::placeholder {color: #aaaaaa;}

.show {display:block;}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #400080;
    position: absolute;
    z-index: 9999;
    width:100%;
    height: 50px;
    vertical-align: center;
    text-align: center;
    align-content: center;
}

.contents {
    margin:0px; 
    margin-top: 50px;
    padding:0px; 
    float:left; 
    width:100%;
}
  
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.25s;
}

.tab div span.notif {
    position: absolute;
    transform: translate(-20px,0px);
    padding: 3px 11px;
    border-radius: 100%;
    background: #f00044;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    display:inline-block;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #700080;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #900090;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.ship {
    width: 100%;
    height: 40px;
    margin: 5px 0px;
    text-align: center;
    align-content: center;
    border-radius: 10px;

    transition: 0.25s;
}

.ship:not(.ship-active) {
    background-color: #5f206c;
    border-color: #5f206c;
}

.ship:hover {
    background-color: #9a18b4;
    border-color: #9a18b4;
}

.ship.ship-active {
    background-color: #a500c6;
    border-color: #a500c6;
}

#sidebar {
    float: left;
    position: fixed;
    margin: 0px;
    width: 300px;
    height: calc(100% - 50px);
    overflow-y: auto;
    background-color: #000020a0;
    align-items: center;

    transition: 0.5s ease-out;
}


#apex-content-wrapper {
    float: left;
    left: 300px;
    position: fixed;
    margin: 0px;
    width: calc(100% - 300px);
    height: calc(100% - 50px);
    overflow-y: scroll;
    /* background-color: #00000080; */

    transition: 0.5s ease-out;
}

#apex-content {
    position: relative;
    padding: 10px 10px;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    height: 56px;
    align-content: center;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible.shiptab {
    
    background-color: #506;
    color: white;
    cursor: pointer;
    padding: 12px;
    padding-left: 2em;
    width: 100%;
    height: 48px;
    align-content: center;
    
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: 600;

    display: flex;
    margin: 5px auto;
    margin-bottom: 0px;

    border-radius: 24px;
    border-color: #506;
}

.collapsible.shiptab:hover, .collapsible.shiptab.collapsible-active:hover {
    background-color: #909;
}

.collapsible.shiptab.collapsible-active {
    background-color: #707;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;   
}

.collapsible-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #404040;
}


.collapsible-content.shiptab {
    background-color: #fff0;
    width: 90%;
    padding: 0px;
    display: flexbox;
    margin: 0px auto;
    align-content: center;
}

.shiptab-wrapper {
    width: 85%;
    display: flexbox;
    margin: auto;
    background-color: #707;
    border-radius: 24px;
    transition: 0.2s ease-out;
}

.shiptab-wrapper:has(.collapsible.shiptab.collapsible-active) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


.apex-level-container {
    width: 100%;
    margin: 10px 0px;
}

.collapsible.apex-cl {
    background-color: #4800ff50;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    height: 56px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;

    transition: 0s;
}

.collapsible.apex-cl:hover {
    background-color: #3600bfa0;
}

.collapsible.apex-cl.collapsible-active {
    background-color: #3600bfa0;
}

.collapsible.apex-cl:not(:hover) {
    transition: 1s;
}


.collapsible-content.apex-cl {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #170052;
}


.contributor {
    width: 85%;
    margin: auto;
    text-align: center;
    font-size: 16px;
    padding: 8px;
    background-color: #400080;
    border-color: #400080;
    border-radius: 15px;
    margin-bottom: 20px;
}


.apex-upgrades {
    width: 95%;
    margin: 10px;
    border: none;
    background-color: #409;
    padding-bottom: 5px;
}


.apex-upgrade-wrapper {
    width: 90%;
    display: flexbox;
    margin: auto;
    background-color: #ee7000;
    border-radius: 24px;
    transition: 0.2s ease-out;
}

.apex-table-row {
    /* width: 100%; */
    vertical-align: top;
    padding: 5px 0px;
}

th.apex-table-row {
    /* width: 100%; */
    vertical-align: top;
    padding: 5px 0px;
    padding-top: 10px;
}

/* .apex-upgrade-wrapper:has(.collapsible.apex-upgrade.collapsible-active) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
} */

.collapsible.apex-upgrade {
    
    background-color: #ee7000;
    color: white;
    cursor: pointer;
    padding: 12px;
    padding-left: 1em;
    width: 100%;
    height: 48px;
    align-content: center;
    
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: 600;

    display: flex;
    margin: 5px auto;
    margin-bottom: 0px;

    border-radius: 24px;
    border-color: #dd6000;
}

.collapsible.apex-upgrade:hover, .collapsible.apex-upgrade.collapsible-active:hover {
    background-color: #ff8000;
}

.collapsible.apex-upgrade.collapsible-active {
    background-color: #ee7000;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;   
}

.collapsible-content.apex-upgrade {
    background-color: #cc5000;
    padding: 0px 20px;
    border-color: #dd6000;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.apex-table-row.header {
    /* width: 100%; */
    vertical-align: top;
    padding: 5px 0px;

    font-size: 24px;
    background-color: #240050;
}


/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #661166;
  border-radius: 10px;
  border-color: #661166;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aa11aa;
  border-color: #aa11aa;
}

.showApexForm {
    font-weight:600;
}

.showApexForm:hover {
    text-decoration: underline;
    cursor: pointer;
}

#contribution-form-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000000;
    opacity: 0;
    z-index: 99999;
    transition: 0.5s ease-out;
    transition-behavior: allow-discrete;
    /* pointer-events: none; */
}

#contribution-form-wrapper.open {
    background-color: #00000080;
    opacity: 1;
}


.center-outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.center-middle {
    display: table-cell;
    vertical-align: middle;
}

.center-inner {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 20px;
    height: 90%; 
    overflow-y: scroll;
}

#contribution-form {
    background-color: #250080;
    /* width: 100%; */
    /* overflow-y: scroll;
    overflow-x: visible; */
}

#ship-dropdown-wrapper {
    width: 100%;
}

#ship-dropdown-wrapper {
  position: relative;
  overflow: visible;
  contain: layout;
}

#ship-dropdown {
    background-color: #900090;
    padding: 10px 0px;
    padding-left: 25px;
    font-size: 20px;
    font-weight: 600;
    /* margin: 0px 20px; */
    border-radius: 25px;
    width: 100%;
    outline: none;
    border: none;
}

#ship-search-list {
    position: absolute;
    width: 100%;
    background-color: #700070;
    /* border-radius: 25px; */
    max-height: 250px;
    overflow-y: scroll;
    display: none; /* Hidden by default */
    z-index: 999999;
}

#ship-search-list::-webkit-scrollbar-thumb {
    background: #eeaaee;
    border-radius: 10px;
    border-color: #eeaaee;
}

.ship-search-item {
    padding: 10px 25px;
    margin: 0px;
    /* border: 3px solid #e000e0; */
}

.ship-search-item:hover {
    background-color: #b000b0;
}

#apex-level-selector {
    outline: none; 
    border: none; 
    background-color: #0000; 
    font-family: 'Agency FB'; 
    color: #ffefce; 
    font-weight: 700; 
    font-size: 96px; 
    width: 100%;
    /* height: 200px; */
    padding: 0;
    margin: 0px;
    top: 28px;
    position: relative;
    text-align: center; 
}

#apex-level-selector::-webkit-outer-spin-button, #apex-level-selector::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.add-upgrade {
    width: 90%;
    left: 5%;
    position: relative;
    margin: auto;
    background-color: #aaa4;
    border-radius: 200px;
    outline: none;
    border: 2px dashed #aaa; 
    height: 48px;
    text-align: center;
    color: #aaa;
    font-size: 20px;
    margin: 5px 0px;

    transition: 0.5s ease-out;
}

.add-upgrade:hover {
    background-color: #ccc6;
}

.apex-input {
    padding-left: 5px;
    font-size: 18px;
    font-weight: 600;
    /* margin: 0px 20px; */
    width: 75%;
    outline: none;
    border: 1px solid #ffffff;
    background-color: transparent;
}

.apex-input::placeholder, .apex-description::placeholder, .apex-description-tp::placeholder {
    color: #eee;
}

.apex-description {
    padding-left: 5px;
    font-size: 14px;
    font-weight: 600;
    /* margin: 0px 20px; */
    width: 100%;
    outline: none;
    border: 1px solid #ffffff;
    background-color: transparent;
}


.apex-description-tp {
    font-size: 14px;
    font-weight: 600;
    /* margin: 0px 20px; */
    width: 25px;
    outline: none;
    border: 1px solid #ffffff;
    background-color: transparent;
}

.apex-description-tp::-webkit-outer-spin-button, .apex-description-tp::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.apex-upgrade-remove {
    background-color: #dd0000;
    color: #ffffff;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    text-align: center;
    vertical-align: center;

    position: absolute;
    left: 100%;
    transform: translate(-50px,-6px);
}

.apex-upgrade-remove:hover, .apex-upgrade-remove2:hover {
    background-color: #ff2020;
}

.apex-upgrade-remove2 {
    background-color: #dd0000;
    color: #ffffff;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    text-align: center;
    vertical-align: center;

    position: relative;
    /* left: 50%; */
    /* transform: translate(-51px,-28px); */
}

.apex-upgrade-wrapper.removable {
    position: relative;
}

.apex-upgrade-add {
    width: 90%;
    left: 5%;
    position: relative;
    margin: auto;
    background-color: #f72;
    border-radius: 200px;
    outline: none;
    border: 2px dashed #fea; 
    height: 24px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin: 5px 0px;

    transition: 0.5s ease-out;
}

.apex-upgrade-add:hover {
    background-color: #fa5;
}

.apex-upgrade-add span {
    font-size: 20px; 
    line-height: 14px; 
    vertical-align: -1px;
}

#basic-stats-input, #contact-info-input {
    font-size: 24px;
}

.basic-stat-input {
    padding-right: 5px;
    font-size: 24px;
    font-weight: 600;
    /* margin: 0px 20px; */
    width: 200px;
    outline: none;
    border: none;
    background-color: #6000dd;
    text-align: right;
}

.contact-info-input {
    padding-left: 5px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    /* margin: 0px 20px; */
    width: 300px;
    outline: none;
    border: none;
    background-color: #6000dd;
    text-align: left;
}

.basic-stat-input::-webkit-outer-spin-button, .basic-stat-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

#generate-apex-code {
    width: 95%;
    left: 2.5%;
    position: relative;
    background-color: #209920;
    color: #fff;
    font-size: 24px;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
}

#generate-apex-code:hover {
    background-color: #10bb10;
}

#generated-code-container-outer {
    position: relative;
    min-height: 64px;
}

#generated-code-container {
    width: 100%;
    max-width: 100%;
    overflow-x: scroll;
    position: absolute;
}

#generated-code {
    background-color: #111;
    font-size: 14px;
    padding: 10px 15px;
    color: #fff;
    overflow: hidden;
    min-width: calc(100% - 30px);
}

.disabledform {
    pointer-events: none;
    opacity: 0.4;
}

#submit-pr {
    width: 95%;
    left: 2.5%;
    position: relative;
    background-color: #209920;
    color: #fff;
    font-size: 24px;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    opacity: 1;
}

#submit-pr:disabled {
    opacity: 0.4;
}

#submit-pr:hover:not(:disabled) {
    background-color: #10bb10;
}